In [4]:
# 1. Write a Pandas program to join the two given dataframes along rows and assign all data.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201

import pandas as pd

#use  pandas concat then make data frames of student data 1 and 2 

student_data1 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                               'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                               'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
  'marks': [201, 200, 198, 219, 201]})

joinedData = pd.concat([student_data1, student_data2])
print(joinedData)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [5]:
# 2. Write a Pandas program to join the two given dataframes along columns and assign all data.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201

#2 join along col
# 
# result_data = pd.concat([student_data1, student_data2], axis = 1)


tudent_data1 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                               'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                               'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
  'marks': [201, 200, 198, 219, 201]})

joinedData = pd.concat([student_data1, student_data2], axis = 1)
print(joinedData)


#changes output format

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [6]:


# 3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.
# Test Data:
# tudent_data1
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# New Row(s)
# student_id                  S6
# name          Scarlette Fisher
# marks                      205
# dtype: object


import pandas as pd

#initial data frame
student_data1 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                               'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                               'marks': [200, 210, 190, 222, 199]})

# #append new rows
append_new_rows = pd.DataFrame({'student_id': ['S6', 'S7'],
                         'name': ['Scarlette Fisher', 'Kaiser William'],
                         'marks': [205, 219]})


combinedData = pd.concat([student_data1, append_new_rows]) #<- concat appends them

print(combinedData)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S6  Scarlette Fisher    205
1         S7    Kaiser William    219

In [17]:

# 4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
# Test Data:
#  student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# Dictionary:
# student_id                  S6
# name          Scarlette Fisher
# marks                      205
# dtype: object

import pandas as pd    
testData = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                               'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                               'marks': [200, 210, 190, 222, 199]})
dictionary = {
    'student_id': 'S6',
    'name': 'Scarlette Fisher',
    'marks': 205
}

# append dictionary 
newDict = pd.DataFrame([dictionary])
result = pd.concat([testData,newDict])
print(result)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S6  Scarlette Fisher    205

In [22]:
# 5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201
# exam_data:
#    student_id  exam_id
# 0          S1       23
# 1          S2       45
# 2          S3       12
# 3          S4       67
# 4          S5       21
# 5          S7       55
# 6          S8       33
# 7          S9       14
# 8         S10       56
# 9         S11       83
# 10        S12       88
# 11        S13       12

student_data1 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                               'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                               'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
                               'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                               'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
                           'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})
# 5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.

#join two given data frames
joinedDataFrames = pd.concat([student_data1, student_data2], axis = 0) #axis 0 = along the rows
result = pd.merge(joinedDataFrames, exam_data, on= 'student_id') #common column id
    
print(result)

  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S5       Kwame Morin    199       21
5         S4  Scarlette Fisher    201       67
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [6]:
# 6. Write a Pandas program to join the two dataframes using the common column of both dataframes.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201
import pandas as pd
student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

student_data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

dataFrame1 = pd.DataFrame(student_data1)
dataFrame2 = pd.DataFrame(student_data2)

result = pd.merge(dataFrame1, dataFrame2 ,on = 'student_id' ) # common column, axis = 1
print(result)

  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [7]:
# 7. Write a Pandas program to join the two dataframes with matching records from both sides where available.
# Test Data:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199
# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201

student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

student_data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

dataFrame1 = pd.DataFrame(student_data1)
dataFrame2 = pd.DataFrame(student_data2)
# 7. Write a Pandas program to join the two dataframes with matching records from both sides where available.
result = pd.merge(dataFrame1, dataFrame2, on='student_id', how='inner')
print(result)

  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [ ]:
# 8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3

In [ ]:
# 9. Write a Pandas program to join two dataframes using keys from right dataframe only.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3

In [ ]:
# 10. Write a Pandas program to merge two given datasets using multiple join keys.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3

In [ ]:
# 11. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.

In [ ]:
# 12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3

In [ ]:
# 13. Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.
# Test Data:
# data1:
#      A   B
# K0  A0  B0
# K1  A1  B1
# K2  A2  B2
# data2:
#      C   D
# K0  C0  D0
# K2  C2  D2
# K3  C3  D3

In [ ]:
# 14. Write a Pandas program to merge two given dataframes with different columns.
# Test Data:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3

In [ ]:
# 15. Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
# Test Data:
# Original DataFrames:
#      A  B
# 0  NaN  3
# 1  0.0  4
# 2  NaN  5
#   A    B
# 0  1  3.0
# 1  1  NaN
# 2  3  3.0