In [3]:
# Given the TitanicDataSet answer below questions using the pandas Library.

# Upload your answers to your github repository as usual and add the link for your assignment.
import pandas as pd
import numpy as np
print("Load titanic data set")
titanicData = pd.read_csv('titanic.csv')
print("Titanic Data CSV:", titanicData)
print("------------------------------------------------")


# 3. Write a Pandas program to create a Pivot table with multiple indexes from the data set of titanic.csv.
# 4. Write a Pandas program to create a Pivot table and find survival rate by gender on various classes.
# 5. Write a Pandas program to create a Pivot table and find survival rate by gender.
# 6. Write a Pandas program to create a Pivot table and find survival rate by gender, age wise of various classes.
# 7. Write a Pandas program to partition each of the passengers into four categories based on their age.
# Note: Age categories (0, 10), (10, 30), (30, 60), (60, 80)
# 8. Write a Pandas program to create a Pivot table and count survival by gender, categories wise age of various classes.
# Note: Age categories (0, 10), (10, 30), (30, 60), (60, 80)
# 9. Write a Pandas program to create a Pivot table and find survival rate by gender, age of the different categories of various classes.
# 10. Write a Pandas program to create a Pivot table and find survival rate by gender, age of the different categories of various classes. Add the fare as a dimension of columns and partition fare column into 2 categories based on the values present in fare columns

Load titanic data set
Titanic Data CSV:      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  Unnamed: 15
0      man        True  NaN  Southampton    no  False          NaN
1    woman       False    C    Cherbourg   yes  False          NaN
2    woman       False  NaN  Southampton   yes   True          NaN
3    woman       False    C  Southampton   yes  False          NaN
4      man        True  NaN  Southampton    no   True          NaN
..     ...         ...  ...          ...   ...    ...          ...
886    man        True  NaN  Southampton    no   True          NaN
887  woman       False    B  Southampton   yes   True          NaN
888  woman       False  NaN  Southampton    no  False          NaN
889    man        True    C    Cherbourg   yes   True          NaN
890    man        True  NaN   Queenstown    no   True          NaN

[891 rows x 16 columns]
------------------------------------------------
1. Write a Pandas program to print a concise summary of the dataset (titanic.csv).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB
None
hello
------------------------------------------------
2. Write a Pandas program to extract the column labels, shape and data types of the dataset (titanic.csv).
------------------------------------------------

In [4]:
# 1. Write a Pandas program to print a concise summary of the dataset (titanic.csv).
print("1. Write a Pandas program to print a concise summary of the dataset (titanic.csv).")


print(titanicData.info())

print("------------------------------------------------")

1. Write a Pandas program to print a concise summary of the dataset (titanic.csv).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB
None
------------------------------------------------

In [ ]:
# 2. Write a Pandas program to extract the column labels, shape and data types of the dataset (titanic.csv).

print("2. Write a Pandas program to extract the column labels, shape and data types of the dataset (titanic.csv).")
print("Column Labels")
print(titanicData.columns)

print("\nShape of the dataset")
print(titanicData.shape)

print("\nData types of the dataset")
print(titanicData.dtypes)

print("------------------------------------------------")